
// Colores
:root {
    --colorprimarioligth: aqua;
    --colorprimariodark: #cf1010;

    --mi-color-secundario: #e34a6f;
    --mi-color-texto: #333333;
}
  
// Tipografías
:root {
    --mi-fuente-titulos: 'Arial', sans-serif;
    --mi-fuente-texto: 'Open Sans', sans-serif;
}
  
// Sombras y efectos
:root {
    --mi-sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
    --mi-transicion: all 0.3s ease-in-out;
}

  
// -------------------- Basicos indispensables --------------------






/*------------------------------ TEMA CLARO ------------------------------ */
@media (prefers-color-scheme: light) {
    /* Ajustes para tema claro */
}

// Mixin Tool Bar Light

@mixin toolbar-preset-ligth($background, $color) {
    --background: #{$background};
    --color: #{$color};
    //Ajuste bordes toolbar
    border-radius: 0 0 20px 20px;
    font-family: var(--mi-fuente-titulos);
}
  
.preset-toolbar-light {
    @include toolbar-preset-ligth(var(--colorprimarioligth), #ffffff); // Usando var()
  }

// Mixin Boton Light

@mixin boton-preset($background, $color) {
    --background: #{$background};
    --color: #{$color};
    font-family: var(--mi-fuente-texto);
}
  
.preset-boton-light {
    @include boton-preset(var(--colorprimarioligth), #000000); // Usando var()
  }




  ion-fab-button {
    --background: var(--colorprimarioligth);
    --border-radius: 150px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
  }

/*------------------------------ TEMA OSCURO ------------------------------ */
.dark {
    --ion-background-color: #1a1a1a;  // Fondo oscuro
    --color-primario-actual: var(--colorprimariodark);  // Variable dinámica
  }
  
  /* Tema oscuro del SISTEMA (solo si no hay clase .dark) */
  @media (prefers-color-scheme: dark) {
    :root:not(.dark) {
      --ion-background-color: #121212;
      --color-primario-actual: var(--colorprimariodark);
    }
  }