<ion-header [translucent]="true">
  <ion-toolbar color="prueba">
    <ion-title>
      App Sismoss
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (terremoto of terremotos; track terremoto; let index = $index){
    <ion-item [button]="true" [routerLink]="[terremoto.geometry.coordinates[0], terremoto.geometry.coordinates[1], terremoto.properties.mag, terremoto.properties.detail]">
        <ion-label>
          <h2>
            {{ terremoto.properties.place }}
          </h2>
          <p>Magnitud: {{ terremoto.properties.mag }}</p>
          <p>Hora: {{ convertirFecha(terremoto.properties.time) }}</p>
        </ion-label>
    </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="loadTerromotos()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette" (click)="searchByFechaIF()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filtrarPorMagnitud()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="filtrarPorCiudad()">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  
</ion-content>
